body{
    font-family: 'Roboto', sans-serif;
}
.border-card{
    border:none;

}
.card-bg-clr{
    background-color: rgba(64, 224, 208, 0.26);
    border-radius: 20px;

}
.card-badge{
    top:0;
    left:80%;
}

.toast{
    top:32%;
    left:55%;
    width:263px;
    border-left: 10px solid blue;
}
.fourth-sec-img{
  width:546px;
  height:400px;
  padding: 35px 0  0 20px;
}
.badges{
    width:135px;
    height:40px
}
.first-sec img{
    width:1440px;
    height:584px;
}
.icon{
    height:50px;
    width:50px;
}