.border-card{
    border:none;

}
.card-bg-clr{
    background-color: rgba(64, 224, 208, 0.26);
    border-radius: 20px;

}
.card-badge{
    top:0;
    left:80%;
}
.fourth-sec-img{
  width:546px;
  height:400px;
  padding: 35px 0  0 20px;
}
.badges{
    width:135px;
    height:40px
}
.first-sec img{
    width:1440px;
    height:584px;
}